quick-order-list {
  display: block;
}

.quick-order-list__form {
  position: relative;
  padding: 0 0 1.6rem;
}
.quick-order-list__container--disabled {
  pointer-events: none;
  opacity: 0.5;
}
.quick-order-list__table {
  display: block;
  width: 100%;
}
.quick-order-list__table td,
.quick-order-list__table th {
  padding: 0;
  border: none;
}
.quick-order-list__table thead {
  display: block;
}
.quick-order-list__table thead tr {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.8rem;
  border-bottom: 0.1rem solid rgb(var(--color-border));
  margin-bottom: 1.6rem;
}
.quick-order-list__table thead th:nth-child(2),
.quick-order-list__table thead th:nth-child(3) {
  display: none;
}
.quick-order-list__table th {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgb(var(--color-foreground-secondary));
}
.quick-order-list__table tbody {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.quick-order-list__table *.right {
  text-align: right;
}
@media screen and (min-width: 990px) {
  .quick-order-list__table {
    display: table;
    border-spacing: 0;
    border-collapse: separate;
  }
  .quick-order-list__table thead {
    display: table-header-group;
  }
  .quick-order-list__table thead tr {
    display: table-row;
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
  }
  .quick-order-list__table thead th:nth-child(2),
  .quick-order-list__table thead th:nth-child(3) {
    display: table-cell;
  }
  .quick-order-list__table thead th:first-child {
    width: 37%;
  }
  .quick-order-list__table th {
    padding: 0 0 1.6rem;
    border-bottom: 0.1rem solid rgb(var(--color-border));
  }
  .quick-order-list__table tbody {
    display: table-row-group;
  }
  .quick-order-list__table td {
    padding: 1.6rem 0 0;
    vertical-align: middle;
  }
}
.quick-order-list__total {
  width: min(100%, 42rem);
}
@media screen and (min-width: 990px) {
  .quick-order-list__total {
    position: sticky;
    width: 100%;
    bottom: 0;
    z-index: 2;
    padding: 1.6rem 0 0;
    border-top: 0.1rem solid rgb(var(--color-border));
    background-color: rgb(var(--color-background));
  }
}
.quick-order-list__total-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
@media screen and (min-width: 990px) {
  .quick-order-list__total-info {
    flex-direction: row;
    align-items: center;
    min-height: 8rem;
  }
}
.quick-order-list__total-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  order: 3;
  width: 100%;
}
@media screen and (min-width: 990px) {
  .quick-order-list__total-left {
    flex: 0 0 auto;
    order: 0;
    width: auto;
    min-width: 20rem;
  }
}
.quick-order-list__total-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.quick-order-list__total-count {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  order: 1;
}
@media screen and (min-width: 990px) {
  .quick-order-list__total-count {
    flex: 1;
    justify-content: center;
    order: 0;
  }
}
.quick-order-list__total-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  order: 2;
}
@media screen and (min-width: 990px) {
  .quick-order-list__total-price {
    flex: 0 0 auto;
    align-items: flex-end;
    order: 0;
    width: auto;
    min-width: 20rem;
  }
}
.quick-order-list__total-subtotal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}
@media screen and (min-width: 990px) {
  .quick-order-list__total-subtotal {
    justify-content: flex-end;
  }
}
.quick-order-list__total-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem 0;
  text-align: center;
}
@media screen and (min-width: 990px) {
  .quick-order-list__total-confirmation {
    flex-direction: row;
    justify-content: center;
    gap: 1.6rem;
  }
}
.quick-order-list__total .tax-note {
  color: rgb(var(--color-foreground-secondary));
  text-align: center;
  font-size: 1.2rem;
}
@media screen and (min-width: 990px) {
  .quick-order-list__total .tax-note {
    text-align: right;
  }
}
.quick-order-list__price {
  font-weight: 500;
}
.quick-order-list__confirmation-text {
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
}
.quick-order-list__remove-all {
  position: relative;
  display: flex;
  align-items: center;
}
.quick-order-list__remove-all .loading-overlay__spinner {
  position: absolute;
}
.quick-order-list__remove-all .loading-overlay__spinner:not(.hidden) + quick-order-list-remove-all-button {
  visibility: hidden;
}
@media screen and (min-width: 990px) {
  .quick-order-list__remove-all .loading-overlay__spinner {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.quick-order-list__error {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: rgb(var(--color-foreground));
}
.quick-order-list__error:empty {
  display: none;
}
.quick-order-list__error .icon-error {
  flex-shrink: 0;
  width: 1.3rem;
  height: 1.3rem;
}

.quick-variant-item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "details total" "price   total" "qty     total";
  gap: 0.8rem 1.2rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid rgb(var(--color-border));
}
.quick-variant-item td {
  display: block;
}
.quick-variant-item__details {
  grid-area: details;
}
.quick-variant-item__details-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.quick-variant-item__media {
  flex-shrink: 0;
  position: relative;
  display: flex;
  width: 4rem;
  background-color: rgb(var(--color-background-secondary));
  border-radius: var(--border-radius-main);
  overflow: hidden;
}
.quick-variant-item__media::after {
  content: "";
  display: block;
  padding-bottom: var(--padding-bottom, 100%);
  width: 0;
}
.quick-variant-item__media--placeholder .placeholder-svg {
  fill: rgb(var(--color-foreground));
  transform: scale(1.5);
}
.quick-variant-item__media-item {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.quick-variant-item__info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.quick-variant-item__title {
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  font-size: 1.4rem;
  line-height: 1.3;
  color: rgb(var(--color-foreground-title));
}
.quick-variant-item__sku {
  font-size: 1.1rem;
  color: rgb(var(--color-foreground-secondary));
}
.quick-variant-item__quantity {
  grid-area: qty;
  align-self: center;
}
.quick-variant-item__quantity-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.quick-variant-item__remove {
  display: flex;
  align-items: center;
}
.quick-variant-item__remove .button {
  padding: 0;
  width: 2.4rem;
  height: 2.4rem;
  min-width: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: rgb(var(--color-foreground-secondary));
  transition: color var(--duration-default) ease, opacity var(--duration-default) ease;
}
.quick-variant-item__remove .icon-close {
  width: 1.4rem;
  height: 1.4rem;
}
@media (hover: hover) {
  .quick-variant-item__remove .button:hover {
    color: rgb(var(--color-foreground));
    opacity: 0.75;
  }
}
.quick-variant-item__price {
  grid-area: price;
  align-self: center;
}
.quick-variant-item__price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
@media screen and (min-width: 990px) {
  .quick-variant-item__price {
    text-align: right;
  }
}
.quick-variant-item__price-value {
  font-weight: 500;
  font-size: 1.4rem;
}
.quick-variant-item__unit-price {
  font-size: 1.2rem;
  color: rgb(var(--color-foreground-secondary));
}
.quick-variant-item__totals {
  grid-area: total;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.quick-variant-item__totals-wrapper {
  position: relative;
}
.quick-variant-item__totals-wrapper .loading-overlay__spinner {
  position: absolute;
  left: unset;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.quick-variant-item__totals-wrapper .loading-overlay__spinner:not(.hidden) + .quick-variant-item__price-value {
  visibility: hidden;
}
.quick-variant-item__discounted-prices {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.4rem;
}
.quick-variant-item__discounted-prices dd {
  margin: 0;
}
@media screen and (min-width: 990px) {
  .quick-variant-item__discounted-prices {
    justify-content: flex-end;
  }
}
.quick-variant-item__old-price {
  color: rgb(var(--color-card-price-old));
  font-size: 1.4rem;
}
.quick-variant-item__sold-out {
  font-size: 1.3rem;
  color: rgb(var(--color-foreground-secondary));
}
@media screen and (min-width: 990px) {
  .quick-variant-item {
    display: table-row;
    padding: 0;
    border: none;
  }
  .quick-variant-item td, .quick-variant-item__details, .quick-variant-item__quantity, .quick-variant-item__price {
    display: table-cell;
  }
}

[dir=rtl] .quick-order-list__table th {
  text-align: right;
}
[dir=rtl] .quick-order-list__table *.right {
  text-align: left;
}
@media screen and (min-width: 990px) {
  [dir=rtl] .quick-variant-item__price {
    text-align: left;
  }
}
[dir=rtl] .quick-variant-item__totals-wrapper .loading-overlay__spinner {
  right: unset;
  left: 0;
}